* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background-color: #333;
    color: white;
}

header h1 .logo {
    height: 50px;
    width: auto;
}


header button {
    background-color: transparent;
    border: none;
    color: burlywood;
    font-size: 1rem;
   
}

header button:hover {
    text-decoration: underline;
}

header nav {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
    position: fixed;
    top: 0; 
    right: 0;
    background-color: #444;
    padding: 2rem;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

header nav a {
    color: white;
    text-decoration: none;
    font-size: 1rem; 
    padding: 0.5rem 0;
}

header nav a:hover {
    text-decoration: underline;
}


#home h1 {
    font-size: 2.5rem;
    margin-bottom: 20px;
    text-align: center;
    color: #444;
    margin:30px 10px;
}

/* Style pour la vidéo */
#home video {
    display: block;
    margin: 0 auto;
    max-width: 100%;
    height: auto;
    margin-bottom: 5em;
}

/* Footer.css */

.footer {
    background-color: #333;
    color: #fff;
    padding: 40px 20px;
    font-family: Arial, sans-serif;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
    flex-wrap: wrap;
    gap: 20px;
}

.footer-section {
    flex: 1;
    min-width: 200px;
    margin-bottom: 20px;
}

.footer-section h3 {
    font-size: 1.2rem;
    margin-bottom: 15px;
    color: #fff;
}

.footer-section p,
.footer-section ul {
    margin: 0;
    padding: 0;
    list-style: none;
    color: #ccc;
}

.footer-section a {
    color: #ccc;
    text-decoration: none;
    transition: color 0.3s ease;
}

.footer-section a:hover {
    color: #007bff;
}

.social-icons {
    display: flex;
    gap: 15px;
    justify-content: center;
}

.social-icon {
    font-size: 1.5rem;
    color: #fff;
    transition: color 0.3s ease;
}

.social-icon:hover {
    color: #007bff;
}

.footer-copyright {
    text-align: center;
    margin-top: 20px;
    padding-top: 20px;
    border-top: 1px solid #444;
    color: #aaa;
    font-size: 0.9rem;
}

